<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:th="http://www.thymeleaf.org" -->
<head>
    <title>site Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <h3>ajouter un créneau</h3>
  
     <form th:action="@{/addCreneau}" th:object="${CreneauForm}" method="POST">
     
	<table  class="table table-striped">
	
		
		<tr>
			<td>Jour :</td><td><select th:field="*{jour}"> 
      <option th:each="dropDownItem : ${listeJours}" 
          th:value="${dropDownItem}" 
          th:text="${dropDownItem}" /> 
     </select></td>
		</tr>
		<tr>
			<td>Heure de début :</td><td><select th:field="*{heureDebut}"> 
      <option th:each="dropDownItem : ${listeHeures}" 
          th:value="${dropDownItem}" 
          th:text="${dropDownItem}" /> 
     </select></td>
		</tr>
		<tr>
			<td>Heure de fin :</td><td><select th:field="*{heureFin}"> 
      <option th:each="dropDownItem : ${listeHeures}" 
          th:value="${dropDownItem}" 
          th:text="${dropDownItem}" /> 
     </select></td>
		</tr>
		
		<tr>
			<td>Filière :</td><td><select th:field="*{desFil}"> 
      <option th:each="dropDownItem : ${listeFilieres}" 
          th:value="${dropDownItem.description}" 
          th:text="${dropDownItem.description}" /> 
     </select></td>
		</tr>
		
		<tr>
			<td>Section :</td><td><select th:field="*{NumeroSection}"> 
      <option th:each="dropDownItem : ${listeSections}" 
          th:value="${dropDownItem.NumeroSection}" 
          th:text="${dropDownItem.NumeroSection}" /> 
     </select></td>
		</tr>
		
		<tr>
			<td>Matière :</td><td><select th:field="*{descMat}"> 
      <option th:each="dropDownItem : ${listeMatieres}" 
          th:value="${dropDownItem.description}" 
          th:text="${dropDownItem.description}" /> 
     </select></td>
		</tr>
		
		<tr>
			<td>Professeur :</td><td><select th:field="*{Nom}"> 
      <option th:each="dropDownItem : ${listeProfesseurs}" 
          th:value="${dropDownItem.nom}" 
          th:text="${dropDownItem.nom}+'-'+${dropDownItem.prenom}" /> 
     </select></td>
		</tr>
		
		<!-- <tr>
			<td>Numéro Semestre :</td><td>
		 <select th:field="*{NumeroSemestre}"> 
      <option th:each="dropDownItem : ${listeSemestres}" 
          th:value="${dropDownItem.NumeroSemestre}" 
          th:text="${dropDownItem.NumeroSemestre}" /> 
     </select> </td></tr> -->
	
		
		<tr>
			<td><input type="submit" value="ajouter" class="btn btn-large btn-success"/></td>
		</tr>
		<tr>
			<td></td><td></td><td><a href="index">page d'accueil</a></td>
		</tr>
		</table>
		</form>
		
   

    </body>
    </html>