<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:th="http://www.thymeleaf.org" -->
<head>
    <title>site Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <h3>ajouter un professeur</h3>
  
     <form th:action="@{/addProfesseur}" th:object="${ProfesseurForm}" method="POST">
     
	<table  class="table table-striped">
	
		<tr>
			<td>Nom :</td><td><input type="text" th:field="*{nom}" id="nom"/></td>
		</tr>
		<tr>
			<td>Prénom :</td><td><input type="text" th:field="*{prenom}" id="prenom"/></td>
		</tr>
		<tr>
			<td>Département :</td><td><input type="text" th:field="*{departement}" id="departement"/></td>
		</tr>
		<tr>
			<td>Grade :</td><td><input type="text" th:field="*{grade}" id="grade"/></td>
		</tr>
		<tr>
			<td><input type="submit" value="ajouter" class="btn btn-large btn-success"/></td>
		</tr>
		<tr>
			<td></td><td></td><td><a href="index">page d'accueil</a></td>
		</tr>
		</table>
		</form>
		
   

    </body>
    </html>