<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:th="http://www.thymeleaf.org" -->
<head>
    <title>site Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <h3>ajouter une section</h3>
  
     <form th:action="@{/addSection}" th:object="${SectionForm}" method="POST">
     
	<table  class="table table-striped">
	
		<tr>
			<td>Numero Section:</td><td><input type="text" th:field="*{NumeroSection}" id="num"/></td>
		</tr>
		
		<tr>
			<td>Numero Semestre :</td><td><select th:field="*{NumeroSemestre}"> 
      <option th:each="dropDownItem : ${listeSemestres}" 
          th:value="${dropDownItem.NumeroSemestre}" 
          th:text="${dropDownItem.NumeroSemestre}" /> 
     </select></td>
		</tr>
		<tr>
			<td>Description Filière :</td><td><select th:field="*{descFil}"> 
      <option th:each="dropDownItem : ${listeFilieres}" 
          th:value="${dropDownItem.description}" 
          th:text="${dropDownItem.description}" /> 
     </select></td>
		</tr>
		<tr>
			<td>Créneau :</td><td><select th:field="*{idCre}"> 
      <option th:each="dropDownItem : ${listeCreneaux}" 
          th:value="${dropDownItem.idCre}" 
          th:text="${dropDownItem.jour}+'-'+${dropDownItem.heureDebut}+'-'+${dropDownItem.heureFin}" /> 
     </select></td>
		</tr>
		<tr>
			<td><input type="submit" value="ajouter" class="btn btn-large btn-success"/></td>
		</tr>
		<tr>
			<td></td><td></td><td><a href="index">page d'accueil</a></td>
		</tr>
		</table>
		</form>
		
   

    </body>
    </html>