<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:th="http://www.thymeleaf.org" -->
<head>
    <title>site Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <h3>ajouter un semestre</h3>
  
     <form th:action="@{/addSemestre}" th:object="${SemestreForm}" method="POST">
     
	<table  class="table table-striped">
	
		<tr>
			<td>Numero Semestre :<input type="text" th:field="*{NumeroSemestre}" id="num"/></td>
		</tr>
	
		<tr>
			<td>Description :<input type="text" th:field="*{description}" id="description"/></td>
		</tr>
		
		<tr>
			<td><input type="submit" value="ajouter" class="btn btn-large btn-success"/></td>
		</tr>
		<tr>
			<td></td><td></td><td><a href="index">page d'accueil</a></td>
		</tr>
		</table>
		</form>
		
   

    </body>
    </html>