<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:th="http://www.thymeleaf.org" -->
<head>
    <title>site Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

	Emploi du Temps de Filière : liste - Section : liste - Semestre : liste
	<div class="container">
	<table border="1" class="table table-striped">
			<thead>
			<tr><th></th><th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th><th>Vendredi</th></tr>
			</thead>
			<tbody>
			<tr th:each="creneau : ${listeHeures}">
				<td th:text="${creneau}"></td>
				<td ></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
	</table>
	</div>