<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>site Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
    
    <br/>
    <div class="container">
	<table  class="table table-striped">
	
		<tr><td><h3>Gestion des emplois du temps</h3></td></tr>
		<tr>
			<td><a href="ajoutFiliere">Ajouter une filière</a></td>
		</tr>
		<tr>
			<td><a th:href="ajoutSection" >Ajouter une section</a></td>
		</tr>
		<tr>
			<td><a href="ajoutSemestre" >Ajouter un semestre</a></td>
		</tr>
		<tr>
			<td><a href="ajoutMatiere" >Ajouter une matière</a></td>
		</tr>
		<tr>
			<td><a href="ajoutProfesseur" >Ajouter un professeur</a></td>
		</tr>
		<tr>
			<td><a href="ajoutCreneau" >Ajouter un créneau</a></td>
		</tr>
		
			<tr>
			<td><a href="afficher" >Afficher Emplois</a></td>
		</tr>
		
	</table>
	</div>
    
</body>
</html>